{#
/**
 * @file policies.html.twig
 * Default theme implementation to present Policies data.
 *
 * This template is used when viewing Policies pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_policies()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('policies') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
